// sidebar
$menuText: rgba(245, 248, 246, 0.78);
$menuActiveText: #fff;

$menuBg: #243b37;
$menuActiveBg: rgba(122, 198, 176, 0.2);
$menuHover: rgba(255, 255, 255, 0.1);

$subMenuBg: rgba(16, 30, 28, 0.34);
$subHideMenuBg: rgba(16, 30, 28, 0.88);

$sideBarWidth: 248px;
$hideSideBarWidth: 88px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subHideMenuBg: $subHideMenuBg;
  sideBarWidth: $sideBarWidth;
  hideSideBarWidth: $hideSideBarWidth;
}
